TutorBot_AriasGarcia.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"mensaje\": \"{{ $json.message.text }}\",\n  \"id_usuario\": \"{{ $json.message.from.id }}\"\n}",
        "options": {}
      },
      "id": "5732042e-a0f9-4b87-a2ea-62fe4f8442cf",
      "name": "Extraer Datos Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2352,
        -608
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1077280595,
          "mode": "list",
          "cachedResultName": "TUTORES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1077280595"
        },
        "options": {}
      },
      "id": "f9c4d153-e0c4-423b-88c5-79498971f86f",
      "name": "Leer SESSIONS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2176,
        -608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Busca la sesión del usuario actual, o crea una por defecto\nconst chatId = $('Extraer Datos Mensaje').first().json.chatId;\nconst text = $('Extraer Datos Mensaje').first().json.text;\nconst firstName = $('Extraer Datos Mensaje').first().json.firstName;\n\nconst rows = items.map(i => i.json);\nlet session = rows.find(r => String(r.telegram_user) === String(chatId));\n\nlet datosParciales = {};\nif (session && session.datos_parciales) {\n  try { datosParciales = JSON.parse(session.datos_parciales); } catch (e) { datosParciales = {}; }\n}\n\nif (!session) {\n  session = {\n    telegram_user: chatId,\n    pantalla_actual: 'MENU',\n    paso_actual: '0',\n    datos_parciales: '{}',\n    _esNueva: true\n  };\n}\n\nreturn [{\n  json: {\n    chatId,\n    text,\n    firstName,\n    pantalla_actual: session.pantalla_actual || 'MENU',\n    paso_actual: session.paso_actual || '0',\n    datosParciales,\n    esNueva: !!session._esNueva\n  }\n}];"
      },
      "id": "84236269-6b1c-4fc9-a431-838d76f35373",
      "name": "Normalizar Sesion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        -608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "MENU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e414e7c4-0e8a-4c12-9575-23d2c17bd087"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "MATERIA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c56cd8e1-7b5f-4237-ace7-abb17710ff6e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "FECHA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff06d4f3-ae8a-4973-828e-6b75f192c787"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "CONFIRMAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f6870b2a-3b8f-4fad-9469-4bc606b4578a"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c9de0973-953c-4bd0-81a3-6f71904477ce",
      "name": "Router Pantalla",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1792,
        -608
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=👋 ¡Hola {{ $json.firstName }}! Soy *TutorBot*, tu asistente para gestionar asesorías académicas.\n\nComandos disponibles:\n/solicitar - Pedir una nueva tutoría\n/consultar - Ver el estado de tus tutorías\n/cancelar - Cancelar una tutoría activa",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e1e0aaa5-b8cc-4a76-a200-14d4fe9a6c1f",
      "name": "Enviar Bienvenida",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1328,
        -1248
      ],
      "webhookId": "980886df-9f73-4424-8266-f773609dd46b",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1077280595,
          "mode": "list",
          "cachedResultName": "TUTORES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1077280595"
        },
        "options": {}
      },
      "id": "ccb86a90-b191-4a85-a813-2c1d423816b3",
      "name": "Leer TUTORES (Materias)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1328,
        -1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construye el menú numerado de materias a partir de tutores activos\nconst tutores = items.map(i => i.json).filter(t => (t.estado || '').toLowerCase() === 'activo');\nconst materiasSet = new Set();\ntutores.forEach(t => {\n  String(t.especialidad_materias || '').split(',').forEach(m => {\n    const materia = m.trim();\n    if (materia) materiasSet.add(materia);\n  });\n});\nconst materias = Array.from(materiasSet);\n\nlet texto = '📚 *Selecciona una materia escribiendo el número:*\\n\\n';\nmaterias.forEach((m, idx) => {\n  texto += `${idx + 1}. ${m}\\n`;\n});\n\nconst chatId = $('Normalizar Sesion').first().json.chatId;\n\nreturn [{\n  json: {\n    chatId,\n    texto,\n    materiasJson: JSON.stringify(materias)\n  }\n}];"
      },
      "id": "f077a573-da00-4096-92dc-469a5debaea6",
      "name": "Construir Menu Materias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -1056
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967710809,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1967710809"
        },
        "options": {}
      },
      "id": "b7b8946b-a38e-4605-ad55-75b2bc335601",
      "name": "Guardar Sesion - MATERIA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -880,
        -1104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Construir Menu Materias').item.json.chatId }}",
        "text": "={{ $('Construir Menu Materias').item.json.texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "8235bbff-beba-4b8c-804b-3afe988f2684",
      "name": "Enviar Menu Materias",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        -1104
      ],
      "webhookId": "65ae0025-98be-4909-97c4-02208fea02d8",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "TUTORIAS"
        },
        "options": {}
      },
      "id": "b67405b0-f911-4b5e-be7f-aaaee11f41d0",
      "name": "Leer TUTORIAS (Consulta)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1328,
        -880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Normalizar Sesion').first().json.chatId;\nconst propias = items.map(i => i.json).filter(t => String(t.id_estudiante) === String(chatId));\n\nlet texto = '';\nif (propias.length === 0) {\n  texto = '📭 No tienes tutorías registradas. Usa /solicitar para pedir una.';\n} else {\n  texto = '📋 *Tus tutorías:*\\n\\n';\n  propias.forEach(t => {\n    texto += `🆔 ${t.id_tutoria} | ${t.materia}\\n📅 ${t.fecha} 🕐 ${t.hora}\\n📌 Estado: *${t.estado}*\\n\\n`;\n  });\n}\n\nreturn [{ json: { chatId, texto } }];"
      },
      "id": "afdf2539-2ba7-4687-b707-021026a4560e",
      "name": "Formatear Consulta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -880
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ec1498bf-a185-4927-920b-47cc2bd3b239",
      "name": "Enviar Estado Tutorias",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        -880
      ],
      "webhookId": "7d9f4a03-59b5-478c-80a1-ba5eb674b70b",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2057982154,
          "mode": "list",
          "cachedResultName": "TUTORIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=2057982154"
        },
        "options": {}
      },
      "id": "15ac6fea-65a2-4c75-a060-2e1eba2f0521",
      "name": "Leer TUTORIAS (Cancelar)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1328,
        -704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Normalizar Sesion').first().json.chatId;\nconst activas = items.map(i => i.json).filter(t => String(t.id_estudiante) === String(chatId) && ['Asignada', 'Confirmada'].includes(t.estado));\n\nlet texto = '';\nif (activas.length === 0) {\n  texto = 'No tienes tutorías activas para cancelar.';\n} else {\n  texto = '❌ *Responde con el ID de la tutoría que deseas cancelar:*\\n\\n';\n  activas.forEach(t => { texto += `🆔 ${t.id_tutoria} - ${t.materia} (${t.fecha} ${t.hora})\\n`; });\n}\n\nreturn [{ json: { chatId, texto, hayActivas: activas.length > 0 } }];"
      },
      "id": "594439a6-8826-4088-a8ae-2ac11ee792be",
      "name": "Formatear Cancelables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967710809,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1967710809"
        },
        "options": {}
      },
      "id": "44059d02-2a37-48d4-a7ad-7a1b72896c3d",
      "name": "Guardar Sesion - CANCELAR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -848,
        -704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Formatear Cancelables').item.json.chatId }}",
        "text": "={{ $('Formatear Cancelables').item.json.texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "3835300b-279a-44ab-be01-170045778adb",
      "name": "Enviar Lista Cancelables",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -704
      ],
      "webhookId": "c2848487-5597-4fa1-be10-91ddbbcf8927",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "🤔 No entendí ese mensaje. Usa /solicitar, /consultar o /cancelar.",
        "additionalFields": {}
      },
      "id": "625b0ccf-8bb2-42d8-89b2-818512dc6a6d",
      "name": "Enviar Ayuda",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -512
      ],
      "webhookId": "6099ece8-a9a5-4466-bb95-5cf27d198b8c",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// El usuario escribió un número para elegir materia\nconst datos = $json.datosParciales || {};\nconst materias = datos.materiasDisponibles || [];\nconst opcion = parseInt(($json.text || '').trim(), 10);\nconst materiaElegida = materias[opcion - 1];\n\nreturn [{\n  json: {\n    chatId: $json.chatId,\n    materiaElegida: materiaElegida || null,\n    valido: !!materiaElegida\n  }\n}];"
      },
      "id": "54355eb5-5410-4582-aa52-ef8e1ae0bc0b",
      "name": "Procesar Seleccion Materia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "763a5d8f-9f26-49fe-ac73-9d300745c531",
      "name": "IF Materia Valida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        -512
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967710809,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1967710809"
        },
        "options": {}
      },
      "id": "dbf80a27-ec23-4da3-a20e-8787fcaa57a6",
      "name": "Guardar Sesion - FECHA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1088,
        -528
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ Materia seleccionada: *{{ $json.materiaElegida }}*\n\n📅 Ahora escribe la fecha deseada en formato *YYYY-MM-DD* (ejemplo: 2026-07-15)",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "cb46c8d7-c22d-4b39-a04c-e5bf8b9dcd2a",
      "name": "Pedir Fecha",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        -528
      ],
      "webhookId": "f9fe7bab-2208-4d2f-8bd9-5d9ace9764cc",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "⚠️ Opción inválida. Por favor responde con el número de la materia que aparece en el menú.",
        "additionalFields": {}
      },
      "id": "503f57b2-772f-445d-b184-e2e803123be8",
      "name": "Enviar Error Materia",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        -368
      ],
      "webhookId": "53c18096-223c-4bd4-a502-d3907081f39f",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Valida el formato de fecha YYYY-MM-DD y calcula el día de la semana\nconst chatId = $json.chatId;\nconst texto = ($json.text || '').trim();\nconst regex = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst valido = regex.test(texto) && !isNaN(Date.parse(texto));\n\nlet diaSemana = null;\nif (valido) {\n  const dias = ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado'];\n  diaSemana = dias[new Date(texto + 'T00:00:00').getDay()];\n}\n\nconst datos = $json.datosParciales || {};\n\nreturn [{ json: { chatId, fecha: texto, diaSemana, valido, materia: datos.materia } }];"
      },
      "id": "26699257-a307-4df2-a3a3-126c6f81a63c",
      "name": "Validar Fecha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        -352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68af26d0-5954-42bc-bf35-8411fcd1576b",
      "name": "IF Fecha Valida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1392,
        -144
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "⚠️ Formato de fecha inválido. Usa el formato YYYY-MM-DD, por ejemplo: 2026-07-15",
        "additionalFields": {}
      },
      "id": "a630b049-a007-44e9-8076-1e063e1bc536",
      "name": "Enviar Error Fecha",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1104,
        176
      ],
      "webhookId": "e5383103-f26b-4e11-9602-5e90447448e8",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 154358574,
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=154358574"
        },
        "options": {}
      },
      "id": "c310cade-3dea-4133-8f38-fb797455e884",
      "name": "Leer DISPONIBILIDAD",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1120,
        -176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1077280595,
          "mode": "list",
          "cachedResultName": "TUTORES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1077280595"
        },
        "options": {}
      },
      "id": "bf3b02ed-44e7-410c-a34c-ae2c66ec5658",
      "name": "Leer TUTORES (Match)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1120,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Motor de asignación: cruza materia + tutor activo + disponibilidad libre en el día de la fecha\nconst validacion = $('Validar Fecha').first().json;\nconst disponibilidad = $('Leer DISPONIBILIDAD').all().map(i => i.json);\nconst tutores = $('Leer TUTORES (Match)').all().map(i => i.json);\n\nconst tutoresMateria = tutores.filter(t =>\n  (t.estado || '').toLowerCase() === 'activo' &&\n  String(t.especialidad_materias || '').split(',').map(m => m.trim()).includes(validacion.materia)\n);\n\nconst idsTutoresValidos = new Set(tutoresMateria.map(t => String(t.id_tutor)));\n\nconst slot = disponibilidad.find(d =>\n  idsTutoresValidos.has(String(d.id_tutor)) &&\n  String(d.dia_semana).toLowerCase() === String(validacion.diaSemana).toLowerCase() &&\n  (d.estado || '').toLowerCase() === 'libre'\n);\n\nlet tutorAsignado = null;\nif (slot) {\n  tutorAsignado = tutoresMateria.find(t => String(t.id_tutor) === String(slot.id_tutor));\n}\n\nreturn [{\n  json: {\n    chatId: validacion.chatId,\n    materia: validacion.materia,\n    fecha: validacion.fecha,\n    diaSemana: validacion.diaSemana,\n    encontrado: !!(slot && tutorAsignado),\n    id_dispo: slot ? slot.id_dispo : null,\n    id_tutor: tutorAsignado ? tutorAsignado.id_tutor : null,\n    nombreTutor: tutorAsignado ? tutorAsignado.nombre : null,\n    horaInicio: slot ? slot.hora_inicio : null,\n    horaFin: slot ? slot.hora_fin : null\n  }\n}];"
      },
      "id": "89b48632-8288-4327-82ab-1d380554f28e",
      "name": "Motor de Asignacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.encontrado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa9eaaaf-1abb-490b-a8b1-191997b3799e",
      "name": "IF Tutor Encontrado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        -64
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=😔 No encontramos tutores disponibles para *{{ $json.materia }}* el {{ $json.fecha }} ({{ $json.diaSemana }}). Intenta con otra fecha usando /solicitar.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "8a22393d-9de4-4f85-9b3b-e80dd0c28928",
      "name": "Enviar Sin Disponibilidad",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        16
      ],
      "webhookId": "cb4e2554-414e-4c42-b0aa-493e3b51f0b4",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967710809,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1967710809"
        },
        "options": {}
      },
      "id": "65fc0fae-953a-4ab8-b28e-dd90f9d4b7b9",
      "name": "Reset Sesion - Sin Match",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        352,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967710809,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1967710809"
        },
        "options": {}
      },
      "id": "f54ea8f4-e99a-4dad-a841-ffae65931754",
      "name": "Guardar Sesion - CONFIRMAR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        -192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🎓 ¡Encontramos un tutor disponible!\n\n📖 Materia: *{{ $json.materia }}*\n👤 Tutor: *{{ $json.nombreTutor }}*\n📅 Fecha: {{ $json.fecha }} ({{ $json.diaSemana }})\n🕐 Horario: {{ $json.horaInicio }} - {{ $json.horaFin }}\n\n¿Confirmas esta asesoría? Responde *SI* o *NO*.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "bf8afe05-145b-4853-8486-4e8d1931238b",
      "name": "Enviar Propuesta Tutor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -208
      ],
      "webhookId": "ae563c9f-a418-4509-bd0e-74d161ba892c",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chatId;\nconst texto = ($json.text || '').trim().toLowerCase();\nconst datos = $json.datosParciales || {};\nconst confirmado = texto === 'si' || texto === 'sí';\nconst rechazado = texto === 'no';\n\nreturn [{\n  json: {\n    chatId,\n    confirmado,\n    rechazado,\n    materia: datos.materia,\n    fecha: datos.fecha,\n    id_dispo: datos.id_dispo,\n    id_tutor: datos.id_tutor,\n    nombreTutor: datos.nombreTutor,\n    horaInicio: datos.horaInicio,\n    horaFin: datos.horaFin,\n    id_tutoria: 'T-' + Date.now()\n  }\n}];"
      },
      "id": "a941159b-fb64-4077-b789-6a494acad6a9",
      "name": "Procesar Confirmacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.confirmado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3c7472b-9758-45df-828d-36646a379a03",
      "name": "IF Confirmo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1344,
        432
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2057982154,
          "mode": "list",
          "cachedResultName": "TUTORIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=2057982154"
        },
        "options": {}
      },
      "id": "67775848-bfb7-49e1-8aa0-431b67a70eec",
      "name": "Registrar Tutoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1120,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 154358574,
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=154358574"
        },
        "options": {}
      },
      "id": "bff284e7-0b70-44a0-92b3-f198e9665f34",
      "name": "Actualizar Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -912,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967710809,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1967710809"
        },
        "options": {}
      },
      "id": "ed56b1f5-da8e-4fdf-a8b2-71aaa534f4ad",
      "name": "Reset Sesion - Confirmado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -672,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ ¡Tu tutoría fue *Asignada* con éxito!\n\n🆔 {{ $json.id_tutoria }}\n📖 {{ $json.materia }}\n👤 Tutor: {{ $json.nombreTutor }}\n📅 {{ $json.fecha }} 🕐 {{ $json.horaInicio }}\n\nRecibirás un recordatorio antes de la sesión.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "1551790f-d5ea-47b8-9ade-9d09a8555f3a",
      "name": "Notificar Estudiante",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        256
      ],
      "webhookId": "c76f41dc-9160-407e-8591-210851f9aa53",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.id_tutor }}",
        "text": "=📢 Nueva asesoría asignada.\n\n📖 Materia: {{ $json.materia }}\n📅 Fecha: {{ $json.fecha }}\n🕐 Hora: {{ $json.horaInicio }} - {{ $json.horaFin }}\n🆔 Tutoría: {{ $json.id_tutoria }}\n\n(Nota: el id_tutor debe corresponder al chat_id de Telegram del tutor para que la notificación llegue correctamente).",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "58d07b6d-1457-4123-9447-20d1f0a4b109",
      "name": "Notificar Tutor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        544
      ],
      "webhookId": "7b4ceb51-fa84-48a9-8d67-7c0ec79f28ea",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967710809,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit#gid=1967710809"
        },
        "options": {}
      },
      "id": "f8b4baf8-8c52-4831-bd60-93441b223b5f",
      "name": "Reset Sesion - Rechazado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1120,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "❌ Solicitud cancelada. Usa /solicitar cuando quieras intentarlo de nuevo con otra fecha.",
        "additionalFields": {}
      },
      "id": "fc897d6d-6f89-467c-8afb-8fb1b48a6a00",
      "name": "Enviar Rechazo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -752,
        640
      ],
      "webhookId": "b681693b-b3f2-4beb-a7e3-35ef4005e3c3",
      "credentials": {
        "telegramApi": {
          "id": "pMUsQPIYUVnNzYVl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "cb5cde96-26bb-45d6-b92e-c1e06e433df4",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2592,
        -608
      ],
      "webhookId": "tutorbot-webhook",
      "credentials": {
        "telegramApi": {
          "id": "T8qyHxd1DbTSUJID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -960
      ],
      "id": "bbd0538c-667c-4692-b5f9-fb5be499b928",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        368,
        -592
      ],
      "id": "4bf82de5-9fc4-4339-8584-bc9dae256612",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T5Iseg3rXGi3lsgc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "={{$json.sessionId}}",
        "sessionKey": "",
        "contextWindowLength": "={{ 5 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        656,
        -592
      ],
      "id": "e660cc07-f9f8-40f4-879c-ff9d2c9fd5cf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "deleteSpreadsheet",
        "documentId": {
          "__rl": true,
          "value": "1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg",
          "mode": "list",
          "cachedResultName": "TutorBot_DB1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GUX5r0F5zq2ILDUxlv6tS81q9z_VNi8MBtprxInxMYg/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1088,
        -704
      ],
      "id": "f84caf3c-1aa7-404c-b731-6fb0b690a6ee",
      "name": "Delete spreadsheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RbpZW7ymrceGnlBZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f6e9f45-2416-4812-be43-f4dbf1e5830e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/solicitar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff032f28-1331-4757-a786-d9e5e493dabc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f150fd55-c5b8-4d2f-9ef6-51256e7c9761"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6bd9b34d-1b0a-412d-a6d8-a25a69060b0b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a55f1e5b-c88e-4a69-a236-23429eff741a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "535f2a24-0f1b-4f22-9d86-d26de247e251",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08b8df8f-bc1b-467b-ab36-49ef73e87ad1",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "88495f97-78a6-4701-8d77-f7c0ffd25144",
      "name": "Router Comando Menu",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1552,
        -864
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e91b6c38-c419-4b56-a2d9-323590e10042",
              "name": "sessionId",
              "value": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -912
      ],
      "id": "ce7496fb-4c27-4297-8b21-f3428d4ef59e",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Extraer Datos Mensaje": {
      "main": [
        [
          {
            "node": "Leer SESSIONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer SESSIONS": {
      "main": [
        [
          {
            "node": "Normalizar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Sesion": {
      "main": [
        [
          {
            "node": "Router Pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Pantalla": {
      "main": [
        [
          {
            "node": "Router Comando Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Seleccion Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer TUTORES (Materias)": {
      "main": [
        [
          {
            "node": "Construir Menu Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Menu Materias": {
      "main": [
        [
          {
            "node": "Guardar Sesion - MATERIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesion - MATERIA": {
      "main": [
        [
          {
            "node": "Enviar Menu Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer TUTORIAS (Consulta)": {
      "main": [
        [
          {
            "node": "Formatear Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Consulta": {
      "main": [
        [
          {
            "node": "Enviar Estado Tutorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer TUTORIAS (Cancelar)": {
      "main": [
        [
          {
            "node": "Formatear Cancelables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Cancelables": {
      "main": [
        [
          {
            "node": "Guardar Sesion - CANCELAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesion - CANCELAR": {
      "main": [
        [
          {
            "node": "Enviar Lista Cancelables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Seleccion Materia": {
      "main": [
        [
          {
            "node": "IF Materia Valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Materia Valida": {
      "main": [
        [
          {
            "node": "Guardar Sesion - FECHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Error Materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesion - FECHA": {
      "main": [
        [
          {
            "node": "Pedir Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Fecha": {
      "main": [
        [
          {
            "node": "IF Fecha Valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fecha Valida": {
      "main": [
        [
          {
            "node": "Leer DISPONIBILIDAD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer TUTORES (Match)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Error Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DISPONIBILIDAD": {
      "main": [
        [
          {
            "node": "Motor de Asignacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer TUTORES (Match)": {
      "main": [
        [
          {
            "node": "Motor de Asignacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Asignacion": {
      "main": [
        [
          {
            "node": "IF Tutor Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tutor Encontrado": {
      "main": [
        [
          {
            "node": "Guardar Sesion - CONFIRMAR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Sin Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Sin Disponibilidad": {
      "main": [
        [
          {
            "node": "Reset Sesion - Sin Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesion - CONFIRMAR": {
      "main": [
        [
          {
            "node": "Enviar Propuesta Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Confirmacion": {
      "main": [
        [
          {
            "node": "IF Confirmo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Confirmo": {
      "main": [
        [
          {
            "node": "Registrar Tutoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Sesion - Rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Tutoria": {
      "main": [
        [
          {
            "node": "Actualizar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Disponibilidad": {
      "main": [
        [
          {
            "node": "Reset Sesion - Confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Sesion - Confirmado": {
      "main": [
        [
          {
            "node": "Notificar Estudiante",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Sesion - Rechazado": {
      "main": [
        [
          {
            "node": "Enviar Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Extraer Datos Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete spreadsheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Router Comando Menu": {
      "main": [
        [
          {
            "node": "Enviar Bienvenida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer TUTORES (Materias)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer TUTORIAS (Consulta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer TUTORIAS (Cancelar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Normalizar Sesion": [
      {
        "telegram_user": "12345",
        "datos_parciales": "{\"test\":\"ok\"}"
      }
    ],
    "Router Pantalla": [
      {
        "pantalla_actual": "MENU"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9531806b56f2b87eb4a92f7f754d36bd0c71ab22e06fc740f395221e26bdbbf"
  }
}   
